<a href="https://colab.research.google.com/github/ezkt2004/CMPT120_MDT_prep/blob/main/chapters/homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3

This is based on chapter 3 of the course notes, and may cover a few topics not
mentioned there.

You can also do the exercises at the bottom of the textbook chapter.

## Range Values in a for-loop

We've seen that for-loops can print the numbers from 0 to 4 like this:

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

The first number is 0, and the last number is 4, i.e. one less than the 5 in
`range(5)`.

`range` can also take two arguments, a *start* and a *stop* value. For example,
this prints the same thing as the above loop:

In [ ]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

We can change the values to get different ranges. For example, this prints 1 to
5:

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

Or we could print -10 to 10:

In [ ]:
for i in range(-10, 11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

## Reverse Range Values

You can use `range` to print numbers in reverse:

In [ ]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

Notice that 0 is *not* printed, since `range(start, stop)` never includes the
`stop` value.

## Practice Question 1

Write a function called `print_countdown(n)` that prints the numbers from `n`
down to 1, followed by "Blastoff!".

For instance, `print_countdown(3)` prints:

```
3 ...
2 ...
1 ...
Blastoff!
```

In [5]:
def print_countdown(n):
  for i in range(n, 0, -1):
    print(f"{i} ...")
  print('Blast off!')


print_countdown(3)

3 ...
2 ...
1 ...
Blast off !

## Practice Question 2

Write a function called `number_triangle(rows)` that prints a triangle of
numbers in *exactly* format shown.

For example, `number_triangle(5)` prints:

```
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
```

Your function should work when `rows` is any positive integer, 1 or greater.
It's okay if the triangle is not perfectly aligned when `rows` is large.

In [19]:
def number_triangle(rows):
   for i in range(1, rows + 1):
       # Directly construct the sequence as a string
       number_sequence = ''
       for j in range(i, i + i):  # Start from 'i' and go up to 'i + i - 1'
        number_sequence += str(j) + ' ' # Add space after each number
       print(number_sequence.strip()) # Use strip() to remove trailing space

number_triangle(5)

# toby donaldson version
def number_triangle(rows):
    for i in range(1, rows + 1):
        for j in range(i, 2 * i):
            print(f'{j} ', end='')
        print()

number_triangle(5)

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

## Practice Question 3

Write a function called `number_triangle2(rows)` that prints a triangle of
numbers in the same layout as above, but the numbers are different.

For example, `number_triangle2(5)` prints:

```
  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
```

Print each of the numbers right-aligned in a field of width 3 to the that rows
are printed neatly.

Your function should work when `rows` is any positive integer, 1 or greater.
It's okay if the triangle is not perfectly aligned when the numbers in it are
longer than 3 digits.

In [32]:
"""Components of the Code
Function Definition:

The function number_triangle2 takes one parameter, rows, which determines how many rows will be printed in the number triangle.
Initialization:

n = 1 initializes a counter variable n that will be printed and incremented with each number printed.
Outer Loop (for i in range(1, rows + 1)):

This loop iterates from 1 to rows, inclusive. The variable i represents the current row number.
For example, if rows is 5, i will take values 1, 2, 3, 4, and 5 in successive iterations.
Inner Loop (for j in range(i, 2 * i)):

This loop determines how many numbers to print in each row.
The range(i, 2 * i) generates numbers starting from i up to but not including 2 * i. This means:
For i = 1, it prints 1 number.
For i = 2, it prints 2 numbers (2 and 3).
For i = 3, it prints 3 numbers (4, 5, and 6), and so on.
Thus, the number of printed numbers in each row corresponds to the current row number.
Printing Numbers:

Inside the inner loop, print(f'{n:3} ', end='') prints the current value of n formatted to be at least 3 characters wide (with padding for alignment) followed by a space.
The end='' argument prevents the print function from adding a newline after each number, allowing the numbers to print on the same line.
Incrementing n:

After printing, n is incremented by 1, so the next number printed in the following iteration will be the next consecutive number.
Newline after Each Row:

After the inner loop completes for a particular row, print() is called with no arguments. This moves the cursor to the next line, preparing for the next row of numbers to be printed."""


def number_triangle2(rows):
    n = 1
    for i in range(1, rows + 1):
        for j in range(i, 2 * i):
            print(f'{n:3} ', end='')
            n += 1
        print()

number_triangle2(5)

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15